<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let ingrediente of ingredientes;"
        size="12"
        size-lg="2"
        size-sm="2"
        size-xs="4"
      >
        <ion-card color="dark" (click)="goDetailsIn(ingrediente.strIngredient)">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{ ingrediente.strIngredient }}</span>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="url+ingrediente.strIngredient+formato"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>