<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Alfabeto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="flower-outline"></ion-icon>
      <ion-label>Región</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="shapes-outline"></ion-icon>
      <ion-label>Ingredientes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
