<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comida</ion-title>
  </ion-toolbar>
  <ion-list (ionChange)="cambiarCategoria($event)">
    <ion-item>
      <ion-label>Seleccionar Categoria</ion-label>
      <ion-select value="Beef" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Beef">Beef</ion-select-option>
        <ion-select-option value="Chicken">Chicken</ion-select-option>
        <ion-select-option value="Dessert">Dessert</ion-select-option>
        <ion-select-option value="Lamb">Lamb</ion-select-option>
        <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
        <ion-select-option value="Pasta">Pasta</ion-select-option>
        <ion-select-option value="Pork">Pork</ion-select-option>
        <ion-select-option value="Seafood">Seafood</ion-select-option>
        <ion-select-option value="Side">Side</ion-select-option>
        <ion-select-option value="Starter">Starter</ion-select-option>
        <ion-select-option value="Vegan">Vegan</ion-select-option>
        <ion-select-option value="Vegetarian">Vegetarian</ion-select-option>
        <ion-select-option value="Breakfast">Breakfast</ion-select-option>
        <ion-select-option value="Goat">Goat</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let comida of comidas;"
        size="12"
        size-lg="3"
        size-sm="3"
        size-xs="12"
      >
        <ion-card color="dark" (click)="goDetails(comida.idMeal)">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{ comida.strMeal }}</span>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="comida.strMealThumb"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>