<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comida</ion-title>
  </ion-toolbar>
  <ion-list (ionChange)="cambiarLetra($event)">
    <ion-item>
      <ion-label>Seleccionar letra</ion-label>
      <ion-select value="a" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="a">A</ion-select-option>
        <ion-select-option value="b">B</ion-select-option>
        <ion-select-option value="c">C</ion-select-option>
        <ion-select-option value="d">D</ion-select-option>
        <ion-select-option value="e">E</ion-select-option>
        <ion-select-option value="f">F</ion-select-option>
        <ion-select-option value="g">G</ion-select-option>
        <ion-select-option value="h">H</ion-select-option>
        <ion-select-option value="i">I</ion-select-option>
        <ion-select-option value="j">J</ion-select-option>
        <ion-select-option value="k">K</ion-select-option>
        <ion-select-option value="l">L</ion-select-option>
        <ion-select-option value="m">M</ion-select-option>
        <ion-select-option value="n">N</ion-select-option>
        <ion-select-option value="o">O</ion-select-option>
        <ion-select-option value="p">P</ion-select-option>
        <ion-select-option value="q">Q</ion-select-option>
        <ion-select-option value="r">R</ion-select-option>
        <ion-select-option value="s">S</ion-select-option>
        <ion-select-option value="t">T</ion-select-option>
        <ion-select-option value="u">U</ion-select-option>
        <ion-select-option value="v">V</ion-select-option>
        <ion-select-option value="w">W</ion-select-option>
        <ion-select-option value="x">X</ion-select-option>
        <ion-select-option value="y">Y</ion-select-option>
        <ion-select-option value="z">Z</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let comida of comidas;"
        size="12"
        size-lg="3"
        size-sm="3"
        size-xs="12"
      >
        <ion-card color="dark" (click)="goDetails(comida.idMeal)">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{ comida.strMeal }}</span>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="comida.strMealThumb"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>