<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comida</ion-title>
  </ion-toolbar>
  <ion-list (ionChange)="cambiarRegion($event)">
    <ion-item>
      <ion-label>Seleccionar letra</ion-label>
      <ion-select value="American" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="American">American</ion-select-option>
        <ion-select-option value="British">British</ion-select-option>
        <ion-select-option value="Canadian">Canadian</ion-select-option>
        <ion-select-option value="Chinese">Chinese</ion-select-option>
        <ion-select-option value="Dutch">Dutch</ion-select-option>
        <ion-select-option value="Egyptian">Egyptian</ion-select-option>
        <ion-select-option value="French">French</ion-select-option>
        <ion-select-option value="Greek">Greek</ion-select-option>
        <ion-select-option value="Indian">Indian</ion-select-option>
        <ion-select-option value="Irish">Irish</ion-select-option>
        <ion-select-option value="Italian">Italian</ion-select-option>
        <ion-select-option value="Jamaican">Jamaican</ion-select-option>
        <ion-select-option value="Japanese">Japanese</ion-select-option>
        <ion-select-option value="Kenyan">Kenyan</ion-select-option>
        <ion-select-option value="Malaysian">Malaysian</ion-select-option>
        <ion-select-option value="Mexican">Mexican</ion-select-option>
        <ion-select-option value="Moroccan">Moroccan</ion-select-option>
        <ion-select-option value="Russian">Russian</ion-select-option>
        <ion-select-option value="Spanish">Spanish</ion-select-option>
        <ion-select-option value="Thai">Thai</ion-select-option>
        <ion-select-option value="Tunisian">Tunisian</ion-select-option>
        <ion-select-option value="Turkish">Turkish</ion-select-option>
        <ion-select-option value="Unknown">Unknown</ion-select-option>
        <ion-select-option value="Vietnamese">Vietnamese</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let comida of comidas;"
        size="12"
        size-lg="3"
        size-sm="3"
        size-xs="12"
      >
        <ion-card color="dark" (click)="goDetails(comida.idMeal)">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{ comida.strMeal }}</span>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="comida.strMealThumb"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>