<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerDirection="back"></ion-back-button>
     </ion-buttons>
    <ion-title>DetailIngred</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
      size="4|"
      size-lg="4"
      size-sm="4"
      size-xs="4"
      >
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{ idOb }}</span>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="url+idOb+formato"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col
        size="8"
        size-lg="8"
        size-sm="8"
        size-xs="8"
        >
        <ion-row>
          <ion-col
          *ngFor="let meal of meals;"
          size="2"
          size-lg="2"
          size-sm="2"
          size-xs="2"
          >
            <ion-card color="dark" (click)="goDetails(meal.idMeal)">
              <ion-card-header>
                <ion-card-subtitle>
                  <span class="text-primary">{{ meal.strMeal }}</span>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-img [src]="meal.strMealThumb"></ion-img>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
