<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerDirection="back"></ion-back-button>
     </ion-buttons>
    <ion-title>DetailComida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="5"
        size-lg="5"
        size-sm="5"
        size-xs="5"
      >
        <ion-img [src]="details.strMealThumb"></ion-img> 
        <p>{{details.strMeal}}</p>
      </ion-col>
      <ion-col
        size="7"
        size-lg="7"
        size-sm="7"
        size-xs="7"
      >
        <ion-col  size="2" size-lg="12" size-sm="12" size-xs="12"> 
            <h2>Intructions:</h2>
            <p>{{details.strInstructions}}</p>
        </ion-col>
      </ion-col>
    </ion-row>
    <h2>Ingredients:</h2>
    <ion-row>
      <ion-col *ngIf="details.strMeasure1!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient1 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient1)" [src]="url+details.strIngredient1+formato"></ion-img> <p>{{details.strMeasure1}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure2!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient2 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient2)" [src]="url+details.strIngredient2+formato"></ion-img> <p>{{details.strMeasure2}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure3!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient3 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient3)" [src]="url+details.strIngredient3+formato"></ion-img> <p>{{details.strMeasure3}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure4!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient4 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient4)" [src]="url+details.strIngredient4+formato"></ion-img> <p>{{details.strMeasure4}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure5!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient5 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient5)" [src]="url+details.strIngredient5+formato"></ion-img> <p>{{details.strMeasure5}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure6!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient6 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient6)" [src]="url+details.strIngredient6+formato"></ion-img> <p>{{details.strMeasure6}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure7!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient7 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient7)" [src]="url+details.strIngredient7+formato"></ion-img> <p>{{details.strMeasure7}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure8!=''" size="2" size-lg="2" size-sm="2" size-xs="2">
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient8 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient8)" [src]="url+details.strIngredient8+formato"></ion-img> <p>{{details.strMeasure8}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure9!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient9 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient9)" [src]="url+details.strIngredient9+formato"></ion-img> <p>{{details.strMeasure9}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure10!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient10 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient10)" [src]="url+details.strIngredient10+formato"></ion-img> <p>{{details.strMeasure10}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure11!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient11 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient11)" [src]="url+details.strIngredient11+formato"></ion-img> <p>{{details.strMeasure11}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure12!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient12 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient12)" [src]="url+details.strIngredient12+formato"></ion-img> <p>{{details.strMeasure12}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure13!=''" size="2" size-lg="2" size-sm="2" size-xs="2">
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient13 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img  (click)="goDetailsIn(details.strIngredient13)" [src]="url+details.strIngredient13+formato"></ion-img> <p>{{details.strMeasure13}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure14!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient14 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient14)" [src]="url+details.strIngredient14+formato"></ion-img> <p>{{details.strMeasure14}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure15!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient15 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient15)" [src]="url+details.strIngredient15+formato"></ion-img> <p>{{details.strMeasure15}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure16!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient16 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient16)" [src]="url+details.strIngredient16+formato"></ion-img> <p>{{details.strMeasure16}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure17!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient17 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient17)" [src]="url+details.strIngredient17+formato"></ion-img> <p>{{details.strMeasure17}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure18!=''" size="2" size-lg="2" size-sm="2" size-xs="2">
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient18 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient18)" [src]="url+details.strIngredient18+formato"></ion-img> <p>{{details.strMeasure18}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure19!=''" size="2" size-lg="2" size-sm="2" size-xs="2" >
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient19 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient19)" [src]="url+details.strIngredient19+formato"></ion-img> <p>{{details.strMeasure19}}</p>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="details.strMeasure20!=''" size="2" size-lg="2" size-sm="2" size-xs="2" > 
        <ion-card color="dark">
          <ion-card-header> 
            <ion-card-subtitle> <span class="text-primary">{{ details.strIngredient20 }}</span> </ion-card-subtitle>
          </ion-card-header>
          <ion-img (click)="goDetailsIn(details.strIngredient20)" [src]="url+details.strIngredient20+formato"></ion-img> <p>{{details.strMeasure20}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      
    </ion-row>
  </ion-grid>
</ion-content>
